@font-face {
    font-family: Roboto;
    src: url(Font/Roboto-Regular.ttf);
}
body {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-weight: 900;
    width: 100%;
    height: 100%;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
nav {
    width: 40%;
}
.navegacion {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: 0.5s;
}
.barra {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 60px;
    padding-top: 15px;
}
.logo-dogo {
    width: 20%;
}
.nav:hover {
    color: white;
    letter-spacing: 0.25em;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.6);
}
.container-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 380px;
    flex-wrap: wrap;
}
.container-header img {
    width: 30%;
}
.container-inicio {
    width: 50%;
}
.container-inicio p {
    font-size: 2em;
    width: 90%;
    font-weight: 400;
}
.section-servicios {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.section-servicios h2 {
    margin: 0;
    padding: 0;
    letter-spacing: 0.25em;
    font-weight: 600;
    font-size: 3em;
}